{% extends '_layouts/detail.njk' %}

{% block story %}
  <h2>Oct. 20, 2018 — Blackbeard's Story</h2>
  <p>He was a wildman in battle, tall and ferocious with burning fuses tucked beneath his hat. Edward Teach, the notorious Blackbeard, was perhaps the most feared pirate in history, and he ravaged the east coast of colonial America and the Caribbean from 1716-1718. At the helm of the Queen Ann’s Revenge, a refitted merchant ship, he led a fleet that grew with each conquest. In truth he likely did not harm his captives, excepting those he killed battle of course, and he treated his own crew fairly in most cases. But his fearsome reputation made him well known in the new world.</p>

    <img src="img/kraken03.jpg" class="img-fluid" alt="Responsive image">

{% endblock %}

{% block page_title %}Oct. 20, 2018 — Blackbeard's Story{% endblock %}