{% extends '_layouts/detail.njk' %}

{% block story %}
  <h2>Oct. 18, 2018 — Jack Rackham Story</h2>
  <p>Throughout the Golden Age of Piracy there were few captains more flamboyant that Jack Rackham. Called “Calico Jack” due to his flashy dress, his short career was marked with daring and bravery. Unfortunately for Rackham and those who served under him, the quality of his decision making did not always live up to his larger-than-life persona. He burned bright and faded fast, and left us with one of the most intriguing pirate tales of the period.</p>

    <img src="img/kraken02.jpg" class="img-fluid" alt="Responsive image">

{% endblock %}

{% block page_title %}Oct. 18, 2018 — Jack Rackham Story{% endblock %}

<!-- extending detail, extending base -->