{% extends '_layouts/detail.njk' %}

{% block story %}
  <h2>Oct. 19, 2018 — Captain Kidd's Story</h2>
  <p>Short and somewhat sad, Kidd’s tale would be quite mundane if not for one very interesting footnote: Before turning himself over to authorities in New York, Kidd buried treasure on Gardiners Island off the coast of Long Island. Though this is believed a common practice among pirates of the day, Kidd is one of the few documented to have done so. Upon arrest Kidd explained where he had hidden his stash, and the items were recovered.</p>
{% endblock %}

{% block page_title %}Oct. 19, 2018 — Captain Kidd's Story{% endblock %}

<!-- overriding the information from base and detail